<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="covConnString" connectionString="Data Source=awsstcdbprod001.c9cllydlwira.us-east-1.rds.amazonaws.com;Initial Catalog=CovantaForms;Persist Security Info=True;User ID=webforms;Password=C0vW3bforms;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="reCaptcha-SecretKey" value="6LfcyJgUAAAAAOwZvl-3AtddBgiiyo3vmnA46WeU" />
    <add key="EnableRecaptchaValidation" value="True" />
    <add key="AttachmentsUploadDirectory" value="D:\Users\ajs\source\repos\CovantaWebForms\TestAttachments\" />
    <add key="SMTPServer" value="covmailch1v.cov.corp" />
    <add key="EmailFrom" value="noreply@covanta.com" />
    <add key="LogDirectoryPath" value="D:\Users\ajs\source\repos\CovantaWebForms\TestAttachments\Logs\" />
    <!--<add key="SharePointUrl" value="https://covanta.sharepoint.com/sites/DevSandbox/SupplierOnboarding/" />
    <add key="SharePointRelativePath" value="/sites/DevSandbox/SupplierOnboarding/" />
    <add key="SharePointFolderName" value="Shared%20Documents" />
    <add key="SharePointListUrl" value="https://covanta.sharepoint.com/sites/DevSandbox/" />
    <add key="SharePointListName" value="SupplierApproval" />-->

    <add key="SharePointUrl" value="https://covanta.sharepoint.com/sites/Depts/SC/SS/GCM/SupplierOnboarding/" />
    <add key="SharePointFolderName" value="Applications" />
    <add key="SharePointListUrl" value="https://covanta.sharepoint.com/sites/Depts/SC/SS/GCM/SupplierOnboarding/" />
    <add key="SharePointListName" value="SupplierApproval" />
    
    <add key="SharePointUserName" value="ajs@covanta.com" />
    <add key="SharePointPassword" value="Srinivasa!1120" />
    <add key="SubmitterEmailSubject" value="Covanta Supplier Application Confirmation" />

    <add key="TechnicalErrorMessage" value="Your form could not be submitted due to technical difficulty. Please contact support #TechnicalErrorMail# for further assistance." />
    <add key="TechnicalErrorMail" value="supplieronboarding@covanta.com" />

    <add key="IsDevEnvironment" value="true" />
    <add key="DevSharePointFolderName" value="Documents" />

    <!-- SLCN - Sharepoint List Column Name-->
    <add key="SLCN_ApplicationID" value="Title" />
    <add key="SLCN_FullName" value="FullName" />
    <add key="SLCN_PhoneNumber" value="PhoneNumber" />
    <add key="SLCN_Email" value="Email" />
    <add key="SLCN_Company" value="Company" />
    <add key="SLCN_Street" value="Street" />
    <add key="SLCN_City" value="City" />
    <add key="SLCN_State" value="State" />
    <add key="SLCN_CovantaContact" value="CovantaContact" />
    <add key="SLCN_Category" value="Category" />
    <add key="SLCN_SubCategory" value="SubCategory" />
    <add key="SLCN_Region" value="Region" />
    <add key="SLCN_SupplierDiversity" value="SupplierDiversity" />
    <add key="SLCN_RegionalManager" value="Manager" />
    <add key="SLCN_SignedNDA" value="SignedNDA" />
    <add key="SLCN_ZipCode" value="Zipcode" />
    <add key="SLCN_Country" value="Country" />
    <add key="SLCN_Manager" value="Manager" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <customErrors mode="On">
      <error statusCode="404" redirect="~/error-404.aspx" />
      <error statusCode="500" redirect="~/error-500.aspx" />
    </customErrors>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="supplierform.aspx" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/error-404.aspx" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/error-500.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
