<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="covStagingConnString" connectionString="Data Source=COVBI1V-DB\BITOOLS;Initial Catalog=covStaging;User ID=covstaging;Password=stage1;"/>
    <!--<add name="covStagingConnString" connectionString="Data Source=COVBIQA1V-DB\BITOOLS;Initial Catalog=covStaging;User ID=covstaging;Password=stage1;"/>-->
    <!--<add name="covStagingConnString" connectionString="Data Source=COVSQLDEV1V\COVSPDEV;Initial Catalog=covStaging;User ID=covmetadmin;Password=covmetadmin;"/>-->
   </connectionStrings>
  <appSettings>
       
    <!--EMAIL Settings />-->
    <add key="SMTPServer" value="covmailch1v.cov.corp"/>
    <add key="EmailFrom" value="collaborations@covantaenergy.com"/>
    <add key="EmailSubject" value="Operations MOR ETL Parser Application Failed"/>
    <add key="EmailTo" value="blitwin@covantaenergy.com"/>

    <!--File Paths />-->     
    <add key="TempPath" value="C:\\Temp\\"/>

    <!-- Dev />-->
    <add key="OperationsMORPath" value="C:\\Temp\\Temp2\\"/>

    <!-- Prod />-->
    <!--<add key="OperationsMORPath" value="\\\\covqview2v\\OperationsData\\" />-->
    
    <add key="OperationsMORActualsfile" value="WildcardOperationsData.xlsx"/>
    <add key="OperationsMORBudgetfile" value="BudgetDataNewFormat.xlsx"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
