<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="covIntegrationConnString" connectionString="Data Source=COVSQLDEV1V\COVSPDEV;Initial Catalog=covIntegration;User ID=covstaging;Password=covstaging;"/>
  </connectionStrings>
  <appSettings>
    <!--EMAIL Settings />-->
    <add key="SMTPServer" value="covmailch1v.cov.corp"/>
    <add key="EmailFrom" value="ITApplications@covantaenergy.com"/>
    <add key="EmailSubject" value="C4R Forecast Approval From SharePoint Application Notification"/>
    <add key="EmailTo" value="blitwin@covantaenergy.com"/>


    <!--File Paths />-->

    <!--In />-->
    <add key="SharePointInputFileName" value="ForecastBudget.xlsx"/>
   
    <add key="SharePointInputPath" value="http://teams.cov.corp/sites/sws/FacilityInformation/ForecastChart/Forecast/"/>
    <add key="SharePointInputPathOld" value="http://teams.cov.corp/sites/sws/FacilityInformation/ForecastChart/2014%20Forecast/"/>
    <add key="SheetNameForecast" value="ForecastBudgetMaster"/>
    
    <!--Out />-->
    <add key="SharePointOutputFileName" value="ForecastBudget.xlsx"/>
    <add key="SharePointOutputPath" value="C:\\BrianTest\\"/>
    <add key="SharePointOutputPathProd" value="E:\\C4RData\\"/>

  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
