<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="covStagingConnString" connectionString="Data Source=COVSQLDEV1V\COVSPDEV;Initial Catalog=covStaging;User ID=covmetadmin;Password=covmetadmin;"/>
  </connectionStrings>
  <appSettings>
    <!--EMAIL Settings />-->
    <add key="SMTPServer" value="covmailch1v.cov.corp"/>
    <add key="EmailFrom" value="ITApplications@covantaenergy.com" />
    <add key="EmailSubject" value="C4R Forecast Approval Extract From SharePoint Application Notification" />
    <add key="EmailTo" value="blitwin@covantaenergy.com" />
    
   
    <!--File Paths />-->

    <!--In />-->   
    <add key="C4RForecastApprovalsFromSharePointInputFileName"   value="2013 C4R Forecast Not in CRM Rev 2.xlsx" />
    <add key="C4RForecastApprovalsFromSharePointInputPath"   value="http://home.cov.corp/department/SecureServices/CSS/CSS%20Sales%20Rollup/" />

    <!--Out />-->
    <add key="C4RForecastApprovalsFromSharePointOutputFileName" value="2013_C4R_Forecast_Not_in_CRM_Rev_2.xlsx" />
    <add key="C4RForecastApprovalsFromSharePointOutputPath" value="C:\\BrianTest\\" />
    <!--<add key="C4RWasteTypeExtractFromSharePointOutputPath" value="E:\\C4RData\\" />-->

  </appSettings>
</configuration>


