<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--EMAIL Settings />-->
    <add key="SMTPServer" value="covmailch1v.cov.corp"/>
    <add key="EmailFrom" value="C4RForecastExtract@covantaenergy.com"/>
    <add key="EmailSubject" value="C4RForecastExtract Application Notification"/>
    <add key="EmailTo" value="blitwin@covantaenergy.com"/>

    <!--File Paths />-->

    <add key="C4RExtractOutputPath" value="C:\\TEMP\\"/>
    <add key="C4RExtractTempPath" value="C:\\TEMP\\"/>
    
    <!--<add key="C4RExtractTempPath" value="E:\\C4RData\\TEMP\\" />-->
    <!--<add key="C4RExtractOutputPath" value="E:\\C4RData\\" />-->
    
    <add key="C4RExtractOutputFileName" value="C4RForecastsData.xls"/>
  </appSettings>
  <connectionStrings>
    <add name="covmetadataConnString" connectionString="Data Source=COVSPPROD1V-DB\MOSS_PROD;Initial Catalog=covmetadata;User ID=covmetadmin;Password=covmet1;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
