<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="covStagingConnString11" connectionString="Data Source=COVBI1V-DB\BITOOLS;Initial Catalog=covStaging;User ID=covstaging;Password=stage1;"/>
    <add name="covStagingConnString22" connectionString="Data Source=COVBIQA1V-DB\BITOOLS;Initial Catalog=covStaging;User ID=covstaging;Password=stage1;"/>
    <add name="covStagingConnString" connectionString="Data Source=COVSQLDEV1V\COVSPDEV;Initial Catalog=covStaging;User ID=covStaging;Password=covstaging;"/>
  </connectionStrings>
   <appSettings>

     <add key="SMTPServer" value="covmailch1v.cov.corp"/>
     <add key="EmailFrom" value="collaborations@covantaenergy.com" />
     <add key="EmailSubject" value="ServiceNowExtractVIP Application Failed" />
     <add key="EmailTo" value="blitwin@covantaenergy.com" />
     
     <!--Note: & in url has been replaced with &amp; (4 characters incluing ;) to make it work in the appSettings-->
     <add key="urlaaa" value=   "https://covantadev.service-now.com/sys_user.do?CSV&amp;sysparm_query=vip=true"/>     
     <add key="urlQa" value="https://covantatest.service-now.com/sys_user.do?CSV&amp;sysparm_query=vip=true"/>     
     <add key="url" value="https://covanta.service-now.com/sys_user.do?CSV&amp;sysparm_query=vip=true"/>     


     <add key="ID" value="midserver"/>
     
     <add key="Passwordaa" value="C0vanta!DEV"/>     
     <add key="PasswordQA" value="C0vanta!TEST"/>
     <add key="Password" value="C0vanta!LIVE"/>

     <add key="savePath" value="c:\\BrianTest\\VIP.csv"/>
     
     
  </appSettings>
</configuration>
