<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="covStagingConnString11" connectionString="Data Source=COVBI1V-DB\BITOOLS;Initial Catalog=covIntegration;User ID=covstaging;Password=xxx;"/>
    <!--<add name="covStagingConnString" connectionString="Data Source=COVSQLDEV1V\COVSPDEV;Initial Catalog=covIntegration;User ID=covmetadmin;Password=covmetadmin;" />-->
    <add name="covStagingConnString" connectionString="Data Source=awssqldevrds001.c9cllydlwira.us-east-1.rds.amazonaws.com;Initial Catalog=CovIntegration;User ID=covmetadmin;Password=covmetadmin;"/>
  </connectionStrings>
  <appSettings>
    <!--EMAIL Settings />-->
    <add key="SMTPServer" value="covmailch1v.cov.corp"/>
    <add key="EmailFrom" value="collaborations@covantaenergy.com"/>
    <add key="EmailSubject" value="EnergyMeterETL ETL Parser Application Failed"/>
    <add key="EmailTo" value="ajs@covanta.com"/>
    <add key="OriginalPath" value="D:\\Users\\ajs\\Documents\\EnergyMeter\\Files\\"/>
    <add key="TempPath" value="D:\\Users\\ajs\\Documents\\EnergyMeter\\Temp\\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
