<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="covStagingConnString" connectionString="Data Source=COVSQLDEV1V\COVSPDEV;Initial Catalog=covStaging;User ID=covmetadmin;Password=covmetadmin;"/>
    </connectionStrings>
  <appSettings>
    <!--EMAIL Settings />-->
    <add key="SMTPServer" value="covmailch1v.cov.corp"/>
    <add key="EmailFrom" value="WorkdaySFTPApplications@covantaenergy.com" />
    <add key="EmailSubject" value="Covanta - Workday SFTP transfer job Application Notification" />
    <!--<add key="EmailTo" value="blitwin@covantaenergy.com" />-->

    <!--File Paths />-->
    <add key="WinSCPPath" value="C:\WinSCP\WinSCP\WinSCP.exe" />
    <add key="WinSCPParamaters" value=" /console /script=C:\BrianTest2\WinscpWorkDayScript.txt" />
    <add key="logPath" value="C:\Users\blitwin\Desktop\Testabc" />
  </appSettings>
</configuration>


