<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <!--DEV-->
    
    <add name="covStagingConnString" connectionString="Data Source=COVSQLDEV1V\COVSPDEV;Initial Catalog=covStaging;User ID=covmetadmin;Password=covmetadmin;"/>
    
    <!--PROD-->
    
    <!--<add name="covStagingConnString" connectionString="Data Source=COVBI1V-DB\BITOOLS;Initial Catalog=covStaging;User ID=covstaging;Password=stage1;" />-->
      
  </connectionStrings>
  <appSettings>

    <!--DEV-->
    
    <add key="LongViewOPREVENUEFilesPath" value="C:\\Applications\\LongviewTestFiles\\OPREVENUE\\DataFiles"/>
    <add key="LongViewTOTALTONSFilesPath" value="C:\\Applications\\LongviewTestFiles\\TOTALTONS\\DataFiles"/>
    <add key="LongViewFINLSTATFilesPath" value="C:\\Applications\\LongviewTestFiles\\FINLSTAT\\DataFiles"/>

    <!--PROD-->
    
    <!--<add key="LongViewOPREVENUEFilesPath" value="\\\\covqview2v\\LongViewData\\OPREVENUE\\DataFiles"/>
    <add key="LongViewTOTALTONSFilesPath" value="\\\\covqview2v\\LongViewData\\TOTALTONS\\DataFiles"/>
    <add key="LongViewFINLSTATFilesPath" value="\\\\covqview2v\\LongViewData\\FINLSTAT\\DataFiles"/>-->
    
    <add key="LongViewSchema" value="LongView"/>
    
    <!--EMAIL Settings />-->
    <add key="SMTPServer" value="covmailch1v.cov.corp"/>
    <add key="EmailFrom" value="LongViewParser@covantaenergy.com"/>
    <add key="EmailSubject" value="LongView Parser Application Success"/>
    <add key="EmailTo" value="blitwin@covantaenergy.com"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
