<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="covStagingConnString11" connectionString="Data Source=COVBI1V-DB\BITOOLS;Initial Catalog=covStaging;User ID=covstaging;Password=xxx;"/>
    <add name="covStagingConnString22" connectionString="Data Source=COVBIQA1V-DB\BITOOLS;Initial Catalog=covStaging;User ID=covstaging;Password=xxx;"/>
    <add name="covStagingConnString" connectionString="Data Source=COVSQLDEV1V\COVSPDEV;Initial Catalog=covStaging;User ID=covmetadmin;Password=covmetadmin;"/>
  </connectionStrings>
  <appSettings>

    <!--EMAIL Settings />-->
    <add key="SMTPServer" value="covmailch1v.cov.corp"/>
    <add key="EmailFrom" value="collaborations@covantaenergy.com"/>
    <add key="EmailSubject" value="EnvironmentalEmissionsETL ETL Parser Application Failed"/>
    <add key="EmailTo" value="blitwin@covantaenergy.com"/>

    <!--File Paths />-->
    
    <!--Used for testing />-->
    <add key="OriginalPath" value="C:\\Temp\\Temp2\\"/>
    
    
    <add key="TempPath" value="C:\\Temp\\"/>
    <add key="TempPath22" value="D:\\Temp\\"/>

    <add key="SheetDioxin" value="Dioxin"/>
    <add key="SheetMercury" value="Mercury"/>
    <add key="SheetPM" value="PM"/>
    <add key="SheetHCl" value="HCl"/>
    <add key="SheetSOx" value="SOx"/>
    <add key="SheetNOx" value="NOx"/>

    <add key="SheetBaselineAnalysis" value="Baseline Analysis"/>
  
    <add key="EnvironmentalEmissionsExcel_URL" value="http://connect.cov.corp/departments/environmental/SharedDocuments/QlikView/"/>
    <add key="EnvironmentalEmissionsExcelFile" value="Emission Index.xlsx"/>
    
        

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
