<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--EMAIL Settings />-->
    <add key="SMTPServer" value="covmailch1v.cov.corp"/>
    <add key="EmailFrom" value="ITApplications@covantaenergy.com"/>
    <add key="EmailSubject" value="C4RWasteType Extract From SharePoint Application Notification"/>
    <add key="EmailTo" value="blitwin@covantaenergy.com"/>

    <!--File Paths />-->

    <!--In />-->
    <!--<add key="C4RWasteTypeExtractFromSharePointInputFileName"   value="Master List of Approval Numbers.xlsx" />
    <add key="C4RWasteTypeExtractFromSharePointInputPath"   value="http://home.cov.corp/department/SecureServices/CSS/CSS%20Sales%20Rollup/CSS%20Marketing%20Reports/" />-->

    <add key="C4RWasteTypeExtractFromSharePointInputFileName" value="2013 C4R Forecast Not in CRM Rev 2.xlsx"/>
    <!--<add key="C4RWasteTypeExtractFromSharePointInputPath"   value="http://home.cov.corp/department/SecureServices/CSS/CSS%20Sales%20Rollup/" />-->

    <add key="C4RWasteTypeExtractFromSharePointInputPath" value="https://covanta.sharepoint.com/sites/CovTeams/sws/FacilityInformation/SalesRollup/CSS%20Marketing%20Reports/"/>

    <!--Out />-->    
    <!--<add key="C4RWasteTypeExtractFromSharePointOutputFileName" value="C4RMasterApprovalWasteTypeFromSharePointData.xlsx" />-->
    <!-- <add key="C4RWasteTypeExtractFromSharePointOutputFileName" value="2013_C4R_Forecast_Not_in_CRM_Rev_2.xlsx"/>-->
    <add key="C4RWasteTypeExtractFromSharePointOutputFileName" value="CustomerCleanMasterQV.xlsx"/>
    <add key="C4RWasteTypeExtractFromSharePointOutputPath" value="D:\\Users\\ajs\\Documents\\Test\\"/>
    <!-- C:\\BrianTest\\ -->
    <!--<add key="C4RWasteTypeExtractFromSharePointOutputPath" value="E:\\C4RData\\" />-->
    
    <!-- Created by Arjun on 02/03/2021 -->
    <add key="SharepointWebUrl" value="https://covanta.sharepoint.com/sites/CovTeams/sws/FacilityInformation"/>
    <add key="SharepontFolderToDownloadFileFrom" value="/sites/CovTeams/sws/FacilityInformation/SalesRollup/CSS%20Marketing%20Reports/"/>
    <add key="SharepontLibraryName" value="CSS Sale Rollup"/>
    <add key="SharepontOnline_UserName" value="ajs@covanta.com"/>
    <add key="SharepontOnline_Password" value=""/>

    <!-- Created by Arjun on 02/03/2021 -->
    <!-- Set value as false if file is not downloaded from Sharepoint Online-->
    <add key="EnableFileDownloadFromSharepointOnline" value="true"/>

  </appSettings> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
